body {
  background-color: olivedrab;
}
nav {
 background-color: black;
}
#Name{
  color: red;
}
#link{
  color: red;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#padding-test{

    border: 1px solid rgb(167, 29, 29);
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  Main{
    justify-content: space-between;
  }
  #descript{
    border-style: hidden;
  }

  #quote{
    font-style: italic;
  }
  #p-header{
    font-size: 2rem;
    font-weight: 100;
    border-bottom: 1px solid color white;
  }